@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-cursor {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, rgba(94, 17, 255, 0.8) 0%, rgba(248, 117, 22, 0.8) 40%, rgba(248, 117, 22, 0) 70%);
    transition: transform 0.1s ease;
    pointer-events: none;
    position: fixed;
    mix-blend-mode: difference;
  }
  
  
  
  